.event_form {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 2rem;
    margin-left: 2rem;
    border-radius: 1rem;
}

.button {
    background-color: darkcyan;
    border: none;
    border-radius: 3rem;
     margin: 1rem;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.input {
    margin: 4px;
    padding: 1rem;
    font-size: 2rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;

}